body {
	color: #2d3339;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	background: #edeff0;
	font-size: 16px;
}

a {
	color: #3f8abf;
	text-decoration: none;
}

a:hover {
	color: #65a1cc;
}

.list {
	background: #fff;
	width: 80%;
	min-width: 500px;
	margin: 80px auto 0;
	border-top: 40px solid #5a6772;
	text-align: left;
}


.list .item {
	border-bottom: 2px solid #edeff0;
	padding: 17px 0 18px 17px;
}

.list .item label {
	padding-left: 5px;
	cursor: pointer;
}

.list #edit-name {
	display: none;
}

.list .editing-label {
	margin-left: 5px;
	font-family: 'Varela Round', sans-serif;
	border-radius: 2px;
	border: 2px solid #a7b9c4;
	font-size: 16px;
	padding: 15px 0 15px 10px;
	width: 60%;
}

.item {
	margin-bottom: 1em;
}

.item .actions {
    margin-right: 20px;
    display: inline-block;
    float: right;
}

.item .actions .delete {
	color: #ed5a5a;
	margin-left: 10px;
}

.item .actions .save {
    background: none;
    border: none;
    font-size: initial;
    color: #65a1cc;
    cursor: pointer;
}

.item .actions .save:hover {
	color: #65cca6;
}

.item .actions .delete:hover {
	color: #f28888;
}

.item-checkbox {
	display: inline-block;
}

.item-edit {
	display: contents;
}

.completed {
	color: #a7b9c4;
	text-decoration: line-through;
}

.add {
	padding: 25px 0 27px 25px;
	display: inline-block;
}

button {
    background: none;
    color: #65a1cc;
    border: none;
    font-size: initial;
    cursor: pointer;
}

.items {
	padding: 25px 0 27px 30px;
}

[id^="input-"] {
	display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(checkbox-empty.svg) left top no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(checkbox-filled.svg) left top no-repeat;
}

nav ul {
	display: inline-block;
}

nav ul li a {
	display: block;
	margin: 0;
	padding: 10px 15px;
	color: #444;
	background-color: #adadad;
}